* {
  background-color: #eff4fc;
}


ul {
  list-style: none;
  font-family: "Arial"
}

p {
  font-family: "Arial",
}


#person-name:hover {
  color: #065900;
}

#container {
  margin-left: 3%;
  margin-top: 25px;
}

#person {
  margin-top: -0.6%;
  transition: color 0.1s linear;
}

#person:hover {
  color: #006d03;
}

#person-container {
  text-align: center;
  width: 40%;
  margin: auto;
  display: block;
  margin-top: -4%;
  border: 1px black dashed;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}


button {
  border: 1px dotted black;
}