* {
  background-color: #eff4fc;
}


ul {
  list-style: none;
  font-family: "Arial"
}

p {
  font-family: "Arial"
}

#person-name:hover {
  color: #065900;
}

#person-card #names {
  text-align: left;
  margin-left: 4%;
  margin-top: -1%;
}

#results {
	display: block;
	margin: auto;
}