* {
  background-color: #eff4fc;
}


ul {
  list-style: none;
  font-family: "Arial"
}

p {
  font-family: "Arial"
}

#person-name:hover {
  color: #065900;
}

#container {
  margin-left: 3%;
  margin-top: 25px;
}

#person {
  margin-top: -0.6%;
}

#person:hover {
  color: #006d03;
}

#person-container {
  text-align: center;
  width: 40%;
  margin: auto;
  display: block;
  margin-top: 10%;
}